<div class="container">
  <div class="row">
    <div class="col">
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/1249611/pexels-photo-1249611.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); background-position: center; background-size: cover;">

        <div class="container text-center text-white py-5">
          <h1 class="my-4" style="font-family: 'Montserrat', sans-serif; font-weight: bold; font-size: 3rem;">Liste des outils</h1>
          <%= link_to 'Nouvelle annonce', new_tool_path, class: 'btn btn-primary btn-lg rounded-pill mb-3 mt-3 px-4' %>
        </div>
      </div>

      <div class="row mt-4">
        <% @tools.each do |tool| %>
          <div class="col-md-4 mb-4">
            <div class="card" id="card">
              <div class="card-body p-0">
                <%= link_to tool.name, tool_path(tool), class: 'text-decoration-none link-styled' %>
                <div class="px-3 py-2">
                  <p><strong>Description :</strong> <%= tool.description %></p>
                  <p><strong>Ville :</strong> <%= tool.city %></p>
                  <%#= link_to 'Modifier', edit_tool_path(tool), class: 'btn btn-outline-secondary btn-sm w-100 mb-2', title: 'Modifier', data: { toggle: 'tooltip' } %>
                 
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
