<div class="page-container">

  <div class="top" style="display: flex; align-items: center; justify-content: space-around;">
    <div class="profile-container">
      <%= render 'mon-profil' %>
    </div>
    <div class="my-tools">
      <%= render 'mes-outils-en-loc' %>
    </div>
  </div>

  <div class="2/3 container">

    <div class="je-loue">
      <div><h3>Outils que je loue</h3></div>
      <%= render 'outils-que-je-loue'%>
    </div>
  </div>

</div>
