<div class="footer">
  <div class="container">
    <div class="text-center">
      <%= link_to(root_path) do %>
        <%= image_tag("logo.png", alt: "Logo", class: "logo") %>
      <% end %>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 footer-categories d-flex flex-row">

        <a href="#" style="margin-right: 20px;">Mes locations</a>
        <a href="#" style="margin-right: 20px;">Mes annonces</a>
        <a href="#" style="margin-right: 20px;">Mon compte</a>
        

        <div class="dropdown">
          <button class="btn dropdown-toggle text-white" type="button" id="categoryDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Catégories
          </button>
          <div class="dropdown-menu" aria-labelledby="categoryDropdown">
            <a class="dropdown-item" href="#">Jardinage</a>
            <a class="dropdown-item" href="#">Nettoyage</a>
            <a class="dropdown-item" href="#">Bricolage</a>
            <a class="dropdown-item" href="#">Véhicule</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
