<div class="footer">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-6 footer-categories">
        <ul>
          <li><a href="#">Louez un <span>outil</span></a></li>
          <li><a href="#">Jardinage</a></li>
          <li><a href="#">Nettoyage</a></li>
          <li><a href="#">Bricolage</a></li>
          <li><a href="#">Transport</a></li>
          <li><a href="#">Evènementiel</a></li>
        </ul>
      </div>
      <div class="col-md-6 footer-links text-end">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </div>
</div>
