<div class="footer">
  <div class="container">
    <div class="text-center">
      <%= image_tag("logo.png", alt: "Logo", class: "logo", style: "width: 30%;") %>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 footer-categories d-flex flex-row">
        <a href="#" style="margin-right: 40px;">Mes locations</a>
        <a href="#" style="margin-right: 40px;">Mes annonces</a>
        <a href="#" style="margin-right: 40px;">Mon compte</a>
        <%= link_to 'Mon profil', edit_profile_path, style: "margin-right: 40px;" %>
        <div class="dropdown">
          <button class="btn dropdown-toggle text-white" type="button" id="categoryDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Catégories
          </button>
          <div class="dropdown-menu" aria-labelledby="categoryDropdown">
            <a class="dropdown-item" href="#">Jardinage</a>
            <a class="dropdown-item" href="#">Nettoyage</a>
            <a class="dropdown-item" href="#">Bricolage</a>
            <a class="dropdown-item" href="#">Véhicule</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
