<div class="hero-banner-container">
  <div class="hero-banner-content">
    <div>
      <h1>Bienvenue sur <strong>My Tools!</strong></h1>
      <p>Trouvez les meilleurs outils près de chez vous!</p>
    </div>
    <div class="search-bar-container" >
      <form class="form-inline d-flex justify-content-center " action="<%= tools_path %>" method="get">
        <div class="form-group">
        <input class="form-control" type="search" name="name" placeholder="Quel outils recherchez vous?" aria-label="name">
      </div>
      <div class="form-group">
        <input class="form-control" type="search" name="city" placeholder="Ville" aria-label="city">
      </div>

      <button class="btn btn-primary " type="submit">Search</button>
      </form>
    </div>
    </div>
    </div>
  </div>

  <div>

  </div>
