#navbar {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
  a {
    float: left;
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    &:hover {
      background-color: #ddd;
      color: black;
    }
  }
}

body {
  padding-top: 50px; /* Ajoutez cette règle pour compenser la hauteur de la barre de navigation */
}

@media (max-width: 767px) {
  #navbar {
    top: auto; /* Ajoutez cette règle pour réintégrer la barre de navigation au reste de la page */
  }
}
